@font-face {
  font-family: SpaceGrotesk-VariableFont;
  src: url(../fonts/Space_Grotesk/SpaceGrotesk-VariableFont_wght.ttf) format("truetype");
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  margin: 0 auto;
  padding: 0px 100px;
  max-width: 1440px;
  font-family: SpaceGrotesk-VariableFont;
  font-size: 20px;
}
p {
  font-size: 18px;
}
.header {
  padding: 60px 0px 70px;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.about-site {
  font-size: 20px;

  display: flex;
  justify-content: flex-end;
  gap: 40px;
  align-items: center;
}
.about-site button {
  font-size: 20px;
  border-radius: 14px;
  width: 231px;
  height: 68px;
  background-color: white;
  font-family: SpaceGrotesk-VariableFont;
}
.list {
  display: flex;
  list-style-type: none;
  font-size: 20px;
  gap: 40px;
}
a {
  text-decoration: none;
  color: black;
}
.hero-content {
  max-width: 531px;
}
.hero-title {
  font-size: 30px;
}
.hero-text {
  padding: 35px 0px 0px;
  font-size: 20px;
}
.hero-btn {
  padding: 35px 0px;
  font-size: 20px;
  font-family: SpaceGrotesk-VariableFont;
}
.hero-img {
  width: 600px;
  height: 515px;
}
.hero-container {
  display: flex;
  justify-content: space-between;
}
.hero-btn button {
  padding: 20px 35px;
  background-color: #191a23;
  color: white;
  border-radius: 14px;
  font-family: SpaceGrotesk-VariableFont;
  font-size: 20px;
  cursor: pointer;
}
.hero-brands {
  display: flex;
  justify-content: space-between;
  filter: grayscale(100%);
}
.services-row {
  display: flex;
  justify-content: space-between;
  font-size: 30px;
  padding-bottom: 40px;
}
.services-row a {
  font-size: 20px;
}
.card {
  border: 2px solid #000;
  width: 600px;
  height: 310px;
  border-radius: 45px;
  padding: 50px;
  display: flex;
  justify-content: space-between;
}

.bg-gray {
  background-color: #f3f3f3;
}
.text-white {
  color: #f3f3f3;
}
.bg-green {
  background-color: #b9ff66;
}
.bg-dark {
  background-color: #191a23;
}
.text-dark {
  color: #191a23;
}
.text-green {
  color: #b9ff66;
}
.service-info img {
  width: 41px;
  height: 41px;
}
.service-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.highlight-radius {
  border-radius: 7px;
}

.service-img {
  width: 210px;
  height: auto;
  align-self: center;
}
.cta-block {
  padding-top: 100px;
}
.cta-wrapper {
  padding-top: 24px;
  padding-bottom: 24px;
}
.cta-card {
  border-radius: 45px;
}
.cta-card-inner {
  padding-right: 135px;
  padding-left: 60px;

  display: flex;
  justify-content: space-between;
}

.cta-img {
  width: 359px;
  height: 395px;
}
.cta-content {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.cta-content h3 {
  font-size: 30px;
  padding-bottom: 26px;
}
.cta-content p {
  /* font-size: 18px; */
  padding-bottom: 26px;
}
.text_and_btn_button {
  padding: 20px 35px;
  max-width: 288px;
  min-width: 288px;
  font-size: 20px;
  border-radius: 14px;
  font-family: SpaceGrotesk-VariableFont;
}
.section-header {
  padding: 140px 0 80px;
  gap: 40px;
  display: flex;
}
.section-header h3 {
  background-color: #b9ff66;
  font-size: 40px;
  border-radius: 7px;
  padding: 0px 7px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section-header p {
  max-width: 580px;
}
.case-studies {
  font-size: 20px;
}

.cases-container {
  border-radius: 45px;
  display: flex;
  justify-content: space-between;
  padding-top: 70px;
  padding: 70px 60px 93px;
}
.cases-container a {
  font-size: 18px;
  display: inline-block;
  padding-top: 20px;
}
.case-item {
  max-width: 286px;
}

.process-card {
  border: 2px solid #000;
  border-radius: 45px;
  padding: 41px 57px 41px 60px;
  margin-bottom: 30px;
}
.process-list p {
  padding-top: 30px;
}
.step-header {
  display: flex;
  justify-content: space-between;

  align-items: center;
}
.step-header-active {
  padding-bottom: 30px;
}
.process-list h2 {
  font-size: 60px;
}
.process-list h3 {
  font-size: 30px;
}

.step-title {
  gap: 25px;
  display: flex;
  align-items: center;
}
#Plus_icon {
  width: 58px;
  height: 58px;
}
.team-row {
  display: flex;
  justify-content: space-between;
}
.team-card {
  padding: 40px 35px 63px 35px;
  max-width: 387px;
  max-height: 331px;
  border: 1px solid #000;
  border-radius: 45px;
}
.team-grid-spacing {
  padding-top: 40px;
}
.member-bio {
  padding-top: 28px;
}
.member-info {
  display: flex;
  justify-content: space-between;
  padding-bottom: 28px;
  gap: 20px;
}
.member-role {
  margin-top: auto;
}
#Social_icon {
  width: 34px;
  height: 34px;
}
.team-footer {
  padding-top: 40px;
}
.team-btn {
  justify-content: space-between;
  font-family: SpaceGrotesk-VariableFont;
}
.team-btn {
  padding: 20px 76px;
  display: block;
  margin-left: auto;
  font-size: 20px;
  border-radius: 14px;
  font-family: SpaceGrotesk-VariableFont;
}
.testimonials-block {
  padding: 84px 0px 68px;
  border-radius: 45px;
  max-height: 625px;
  overflow: hidden;
}
.testimonials {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  position: relative;

  transition: all ease 1s;
}
.testimonial-card {
  width: 606px;
  flex-shrink: 0;
}
.testimonial-text {
  padding: 48px 52px;
  border-radius: 45px;
  border: 1px solid #f3f3f3;
}
.testimonial-author p {
  font-size: 20px;
}
.sliders-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.sliders {
  display: flex;
  width: 564px;
  justify-content: space-between;
  margin-top: 124px;
}
.slider-back,
.slider-next {
  border: none;
}
.contact-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 45px;
  position: relative;
  overflow: hidden;
  height: 773px;
}
.contact-left {
  width: 556px;
  padding: 60px 0px 100px 80px;
}

.radio-label {
  font-size: 18px;
}
.form-group {
  font-size: 16px;
  display: flex;
  flex-direction: column;
}
.contact-radio-group {
  display: flex;
  margin-bottom: 40px;
  gap: 35px;
}
.contact-form {
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: 100%;
}
.contact-right {
  position: absolute;
  right: -350px;
}
.submit-btn {
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 20px;
  width: 100%;
  font-family: SpaceGrotesk-VariableFont;
  border-radius: 14px;
}
.form-group input {
  width: 100%;
  height: 59px;
  border-radius: 14px;
  font-size: 18px;
  padding-left: 30px;
}
.form-group textarea {
  border-radius: 14px;
  font-size: 18px;
  height: 190px;
  padding-top: 18px;
  padding-left: 30px;
}
