@font-face {
  font-family: SpaceGrotesk-VariableFont;
  src: url(../fonts/Space_Grotesk/SpaceGrotesk-VariableFont_wght.ttf) format("truetype");
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  margin: 0 auto;
  padding: 0px 100px;
  max-width: 1440px;
  font-family: SpaceGrotesk-VariableFont;
  font-size: 20px;
}
.header {
  padding: 60px 0px 70px;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.about_site {
  font-size: 20px;

  display: flex;
  justify-content: flex-end;
  gap: 40px;
  align-items: center;
}
.about_site button {
  font-size: 20px;
  border-radius: 14px;
  width: 231px;
  height: 68px;
  background-color: white;
}
.list {
  display: flex;
  list-style-type: none;
  font-size: 20px;
  gap: 40px;
}
a {
  text-decoration: none;
  color: black;
}
.hero_container_navigation {
  max-width: 531px;
}
.hero_title {
  font-size: 30px;
}
.hero_text {
  padding: 35px 0px 0px;
  font-size: 20px;
}
.hero_btn {
  padding: 35px 0px;
  font-size: 20px;
}
.hero_img {
  width: 600px;
  height: 515px;
}
.hero_container {
  display: flex;
  justify-content: space-between;
}
.hero_btn button {
  padding: 20px 35px;
  background-color: #191a23;
  color: white;
  border-radius: 14px;
  font-family: SpaceGrotesk-VariableFont;
  font-size: 20px;
  cursor: pointer;
}
.hero_other_site {
  display: flex;
  justify-content: space-between;
  filter: grayscale(100%);
}
.Cards_section {
  display: flex;
  justify-content: space-between;
  font-size: 30px;
  padding-bottom: 40px;
}
.Cards_section a {
  font-size: 20px;
}
.card {
  width: 600px;
  height: 310px;
  border-radius: 45px;
  padding: 50px;
  display: flex;
  justify-content: space-between;
}

.color_white {
  background-color: #f3f3f3;
}
.color_font_white {
  color: #f3f3f3;
}
.color_green {
  background-color: #b9ff66;
}
.color_dark {
  background-color: #191a23;
}
.color_font_dark {
  color: #191a23;
}

.Heading_and_link img {
  width: 41px;
  height: 41px;
}
.Heading_and_link {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card_text_radius {
  border-radius: 7px;
}

#tokyo-selecting {
  width: 210px;
  height: 148px;
  align-self: center;
}
#tokyo-magnifier {
  width: 210px;
  height: 170px;
  align-self: center;
}
#tokyo-browser {
  width: 209px;
  height: 210px;
  align-self: center;
}
#okyo-sending {
  width: 210px;
  height: 192px;
  align-self: center;
}
#tokyo-many {
  width: 210px;
  height: 196px;
  align-self: center;
}
#tokyo-volumetric {
  width: 210px;
  height: 170px;
  align-self: center;
}
.cta_block {
  padding-top: 100px;
}
.cta_pading {
  padding-top: 24px;
  padding-bottom: 24px;
}
.cta_card {
  border-radius: 45px;
}
.cta_card_padding {
  padding-right: 135px;
  padding-left: 60px;

  display: flex;
  justify-content: space-between;
}

.cta_img {
  width: 359px;
  height: 395px;
}
.text_and_btn {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text_and_btn h3 {
  font-size: 30px;
  padding-bottom: 26px;
}
.text_and_btn p {
  font-size: 18px;
  padding-bottom: 26px;
}
.text_and_btn_button {
  padding: 20px 35px;
  max-width: 288px;
  min-width: 288px;
  font-size: 20px;
  border-radius: 14px;
}
.Heading_Subheading {
  padding-top: 100px;
  padding-bottom: 80px;
  gap: 40px;
  display: flex;
}
.Heading_Subheading h3 {
  background-color: #b9ff66;
  font-size: 40px;
  border-radius: 7px;
  padding: 0px 7px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Heading_Subheading p {
  font-size: 18px;
  max-width: 580px;
}
.Case_studies_block {
  font-size: 20px;
}

.Case_studies {
  border-radius: 45px;
  display: flex;
  justify-content: space-between;
  padding-top: 70px;
  padding-left: 60px;
  padding-right: 60px;
  padding-block: 93px;
}
.Case_studies a {
  font-size: 18px;
  display: inline-block;
  padding-top: 20px;
}
.Case_study {
  max-width: 286px;
}
