{
  "printWidth": 100,
  "htmlWhitespaceSensitivity": "css",
  "bracketSameLine": true,
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "singleQuote": true,
  "trailingComma": "all",
  "arrowParens": "always",
  "endOfLine": "auto"
}
